---
import { TextSection } from '@odyssey-theme/components';
import Layout from '../../layouts/Page.astro';
---

<Layout>
	<TextSection narrow>
		<h2>InterAccess Mission/Vision</h2>

		<h3>A note from Josh..</h3>
		<p>
			Hello and welcome to the InterAccess website. For some backgroud, or at
			least my story, is that I feel very fortunate to work in this dynamic,
			interesting and challenging field. My hope is that we can some small way
			contibute to the greater good and help realise the societal benefit that
			comes from better digital inclusion, greater awareness of the benefits of
			accessibility and collective appreciation of the diversity of human
			experience.
		</p>

		<p>
			We have a diverse team in InterAccess @@and you can find out more about
			them. For myself, I've worked directly with people with disabilities for
			many years, particularily in the area of Assistive Technology (AT) and web
			accessibility. My experience working initially with Enable Ireland (back
			in the day) where I was training people with disabilities in how to use
			their computers to do simple things that others take for granted. Even
			back then, I was seeing the positive impact even simple AT (when it's the
			right AT) can have on someones life.
		</p>

		<p>
			I worked on the ground, as an Assistive Technology lead in the eastern
			part of Ireland and helped many people with their PCs to send email, write
			letters or blog posts - or configure their Penny & Giles joysticks, or get
			their Windows accessibility settings just right, so they could use the
			keyboard without hitting loads of keys they didn't want.
		</p>

		<p>
			I started to hear about Web Accessibility at time, and first came accross
			WCAG in the early 2000s. Didn't understand it much *grin.
		</p>

		<p>
			Later, I joined the NCBI as a full time accessiblity consultant, and it
			was my dream job.I was then one of the core team of the Centre for
			Inclusive Technology (CFIT) at the NCBI when I joined in 2004 with Dr.
			Mark Magennis, who is a leading accessibility expert and founder. Together
			we developed services that would provide accessibility auditing testing,
			as well as working on interesting EU research projects. I also run a
			usability lab where we did usability testing involving people with
			disabilities. Our mission in CFIT was to reduce barriers in the
			environment for people with disabilities, and raise awareness around
			diverse user needs while promoting the benefits of inclusive design and
			accessibility for society at large.
		</p>

		<p>
			It was an exciting and innovative initiative and at the time. We helped to
			bring lots of different people together through our conferences, and
			events in the design and development community in Ireland and beyond. We
			worked with many public sector and private organisations.
		</p>

		<p>
			At the time, accessibility auditing was the main tool for engagement and
			talking about accessibility. It often is to this day, and while it gets
			people in the room - it is not the be all and end all. I see a change in
			auditing as the main focus. While public sector requirements are
			important, and success is measured through conformance to particular
			standards and guidelines - that is just not the full picture.
		</p>

		<p>
			There is a necessary broader societal discussion around inclusion,
			technical diversity and the benefits of Assistive Technology and inclusive
			design for everyone, that needs to happen. The accessibility audits is
			just one of those tools. There are others and I'm interested in how the
			field of accessibility is currently changing, growing and trying to
			accomodate new and innovative methods to assess, measure and promote
			accessibility.
		</p>

		<p>
			For example,in my career I've seen the benefit of usability testing as a
			bridge between the pubic or private sector organisation, the designer,
			developer and end user with a disability. This connection is very powerful
			and human. During a usability test, the designer not only sees their
			website or app being used by a real person, they also get to meet with and
			connect with the person. These experiences are real take aways, and are
			useful to inform other projects. Personas are good - persons are better.
		</p>

		<p>
			When I founded InterAccess in 2015, I was on my own, doing auditing and
			accessibility testing. Now the team has grown to provide all these
			services our clients need to a high quality bar that we work hard to
			maintain. This is a bar we set for ourselves as a small agency.
		</p>

		<p>
			Our collective expectations of technology, what it should do, and how it
			should do it has also grown. The 'Accessibility Project' has advanced, but
			maybe not as much as many of us would like. While there is a greater
			awareness of the need for accessible stuff, it has not evolved much beyond
			the push to just conform to standards. This is really only the start.
		</p>

		<p>
			There is no normal, no ordinary or average person. There is a median but
			it is diverse. Our mission is to help our clients understand diverse user
			needs and how to meet them practially, and in doing do develop a quality
			user exeperience. This is often missed in the focus on conformance and
			need to be center stage in any attempt to design or develop digital
			services. There is a broader social imperative that works behind the
			scenes, and with a little background knowledge, patience and effort - the
			rewards can be many. for everyone.
		</p>

		<p>
			I've been very fortunate in that I've worked on some cutting edge
			projects, through my work on standards development such as the Web Content
			Accessibility Guidelines (WCAG), as well as recently working at W3C on
			researching and documenting accessibility user needs and requirements for
			a range of new emerging technologies, including Real Time Communications,
			and Immersive environments (XR). It's exciting to see so much innovation
			coming from the accessibility space, and people with disabilities are
			often leading the charge in the development and adoption of new
			technologies that become eventually become commonplace.
		</p>

		<p>
			In the mean time - while the future is happening to us, InterAccess will
			continue to audit, test, and involve people with disabilities in the
			process for our clients. It is a fact that new technology tends towards
			complexity, but in my experience the needs of people with disabilities
			don't change that much. Good technology hides this complexity, and
			supports user needs. Understanding this can help you to deal with the
			emergence of new hardware or coding frameworks, design systems and
			patterns. Often what needs to be done to make accessibility work, is much
			more straightforward than people think.
		</p>
	</TextSection>
</Layout>
