---
import { TextSection } from '@odyssey-theme/components';
import Layout from '../../layouts/Page.astro';
---

<Layout>
	<TextSection narrow>
		<h1>Services</h1>

		<ul>
			<li><a href="services/training">Training</a></li>
			<li><a href="services/audits">Accessibility Audits</a></li>
			<li><a href="services/usability-testing">Usability Testing</a></li>
			<li><a href="services/standards">Standards Communications</a></li>
			<li><a href="services/service-design">Service Design</a></li>
		</ul>
	</TextSection>
</Layout>
