---
import { TextSection } from '@odyssey-theme/components';
import Layout from '../../layouts/Page.astro';
---

<Layout>
    <TextSection>

	<h2>Why work with us?</h2>

	<p>
		Conformance to standards is just the start. Design and code that works
		for everyone is the goal.
	</p>

	<p>
		But don't just conform. Lets build UIs that are great to use, give
		people what they need when they need it. Let's do better.
	</p>

	<h2>Our Services</h2>

	<p>
		InterAccess offers end-to-end consultancy and training services for your
		website, mobile and web application projects. Not sure what is the right
		path for you? We will happily help you figure out where you need to be
		and how to get there.
	</p>

	<ul>
		<li><a href="services/training">Initial assessment - onboarding</a></li>
		<li><a href="services/training">Training</a></li>
		<li><a href="services/audits">WCAG 2.X Audits and Testing</a></li>
		<li>
			<a href="services/usability-testing"
				>Usability Testing with people with disabilities</a
			>
		</li>
		<li>
			<a href="services/standards"
				>Standards Reporting and Communications</a
			>
		</li>
	</ul>

	<p>
		Conforming to standards is important, but being accessible is just the
		right thing to do. You can do it. No one designs consciously to exclude
		people, but this is what often happens. Meeting your legal requirements
		and checking boxes are important, but are not the full picture. With
		some thought and a little effort, we can help you really understand how
		and why accessibility mattters.
	</p>

	<p>
		It is not always clear in the beginning what accessibility standards are
		all about. It is complicated so you need a partner who can help you
		navigate the requirements that you have, but more importantly,
		understand the underlying user need that you are trying to meet.
	</p>

	<p>Behind every accessibility checkbox, there is a real user need.</p>

	<h2>What are the benefits of Accessibility?</h2>

	<p>
		There is a halo effect when are making your services accessible. We help
		you really understand the proven benefits of accessible and usable
		products such as improved SEO ratings, happier clients with greater
		access to your services and products. Better code, cleaner designs. When
		form follows function, everyone wins. Making things look easy to use,
		can be complex - but that complexity needs to be hidden from your user.
	</p>

	<p>
		Our services are designed to empower your organisation to understand and
		integrate accessibility into your design and development practices, meet
		your legislative commitments, and ultimately help you to have confidence
		that your products are really accessible and usable by people with
		disabilities. @@Involving people with disabilities in the process via
		Usability testing is the key.
	</p>

	<h3>Web Standards - WCAG 2.X Audits and Testing</h3>

	<p>
		The Web Content Accessibility Guidelines (WCAG) and other standards,
		such as Section 508, are outlined in directives such as EN 301 549 or
		determined by European standards such the EU Accessibility Act.Your
		website or services will be evaluated against these standards and
		guidelines.
	</p>

	<p>
		These are the standards that everyone talks about and few understand in
		detail. They contain the mechanisms for measuring and assessing your
		level of accessibility, and are designed to help raise awareness of
		diverse user requirements, and provide a measurable framework.
	</p>

	<p>
		Our accessibility auditing service is an evaluation of your product or
		service against recognised international standards such as the WCAG 2.x
		series and Section 508.
	</p>

	<h2>
		Do I just have to have an accessibility audit done once and thats its?
	</h2>

	<p>
		No, in addition to formal audits, InterAccess can help you with
		regression testing, web application and mobile testing, and manual and
		automated quality assurance in various sprints.
	</p>

	<p>
		Regular accessibility audits and testing play a vital role in a
		successful accessibility strategy; read about our WCAG 2.X Audits and
		Testing (link) services to learn more.
	</p>

	<p>
		While they can give an indication of what is working or not, in the end
		an audit just doesn't reflect the quality of user experience for people
		with disabilities. You can have a perfect, technically accessible site
		that is still hard to use by many people with disabilities. Is that good
		enough?
	</p>

	<p>Let's be better.</p>

	<h3>Usability Testing</h3>

	<p>
		Web standards are important, but how usable is your site or application
		for users with disabilities? InterAccess partners with service owners
		from Enable Ireland (link) and other people with disabilities to perform
		remote usability testing by people with disabilities using real
		assistive technologies.
	</p>
	<p>
		Read more about our Usability Testing Services (link). You will gain
		powerful insights into how accessible and usable your digital products
		really are.
	</p>

	<h2>Accessibility Training</h2>

	<p>The InterAccess team (link) are experts in:</p>
	<ul>
		<li>design reviews</li>
		<li>accessible mobile and application development</li>
		<li>WCAG conformance</li>
		<li>usability testing with people with disabilities</li>
		<li>Accessibility quality assurance</li>
		<li>screen reader and many other assistive technologies</li>
		<li>AT interoperability with accessibility APIs</li>
	</ul>
	<p>
		Our flexible Training Services (link) are designed with your company's
		goals in mind, and will help you build expertise in a focused and
		cost-effective way.
	</p>

	<p>
		Contact us (link) to find out how we can assist you with your training
		needs to bring your accessibility skillset to the next level.
	</p>

	<h2>Standards Reporting and Communications</h2>

	<p>
		Unsure how to communicate your accessibility efforts and wins with your
		users and legal evaluators?
	</p>

	<p>
		We help you utilise Accessibility Statements, Accessibility Support
		Matrices and Conformance reports to meet your legal and contractual
		obligations, while providing helpful information to anyone who may need
		it. Read Standards Reporting and Communications services (link) to find
		out more.
	</p>
</TextSection>
</Layout>
