---
import { Button } from '@odyssey-theme/components';
import Layout from '../layouts/Page.astro';
import TextAndImageHero from '../components/heros/TextAndImageHero.astro';
---

<Layout>
	<TextAndImageHero>
		<div slot="text-container">
			<p class="magenta bold">Beyond accessibility conformance</p>
			<h1>Don't be a <span class="magenta">Robot</span></h1>
			<p>
				Accessibility and usability are at the heart of a quality user
				experience. We care about helping you build the best experiences
				for everyone
			</p>
		</div>
		<div slot="btns-container">
			<Button href="/@@@" materialIcon="chevron_right">Learn more</Button>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/interaccess-robot.png"
				alt="InterAccess robot logo"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>
</Layout>

<style>
	.magenta {
		color: magenta;
	}
	.bold {
		font-weight: bold;
	}
</style>
