---
import { Header, Button, Footer } from '@odyssey-theme/components';
import Layout from './Base.astro';
import settings from '../config/settings';
import { footerLists } from '../config/footer';

export const nav = [
	{
		title: 'Home',
		slug: '/',
	},
	{
		title: 'Blog',
		slug: '/blog',
	},
	{
		title: 'About',
		slug: '/company/about',
	},
	{
		title: 'Contact',
		slug: '/company/contact',
	},
];


const footerSocials = [
  {
    url: 'https://twitter.com/littlesticksdev',
    icon: twitterIcon,
  },
]
---

<Layout>
	<Header rightMenu navData={nav} slot="header">
		<span slot="logo">
			<p class="logo">InterAccess - Accessibile UX</p>
		</span>
		<Button slot="action-item" href="/theme/get-started">Get Started</Button>
	</Header>
	<div id="page">
		<slot />
	</div>
	<Footer
		slot="footer"
		background="var(--theme-surface-1)"
		color="var(--theme-on-surface-1)"
		footerLists={footerLists}
    footerSocials={footerSocials}
		copyrightName="InterAccess"
	>
		<p slot="logo" class="logo">InterAccess</p>
	</Footer>
</Layout>


<style>
	.logo {
		width: fit-content;
		margin: 0;
		font-family: var(--theme-font-family-serif);
    font-size: var(--font-size-md);
		color: inherit;
	}
	.logo:hover {
		text-decoration: underline;
		cursor: pointer;
	}
</style>
